@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap'); * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --dark-gray: #2d3436;
  --light-gray: #636e72;
  font-family: 'Montserrat', sans-serif;
  --shadow-15 : 0 0 15px rgba(0,0,0,0.8);
}

.content {
}

.header {
  background: var(--dark-gray);
  height: 13vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searchbar {
  display: flex;
  justify-content: space-around;
  height: 50%;
  width: 30%;
  transition: transform 0.3s;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: var(--shadow-15);
}

.search {
  min-height: 100%;
  min-width: 80%;
  outline: none;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bold;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  text-align: center;
}

.searchButton {
  position: relative;
  min-width: 20%;
  background: var(--light-gray);
  outline: none;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  opacity: 0.8;
  font-size: 1.2rem;
  cursor: pointer;
}

.searchbar:hover {
  transform: scale(1.2);
}

.ticket-filters {
  background: var(--light-gray);
  min-width: 30%;
  min-height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all .2s ease-in-out;
  box-shadow: var(--shadow-15);
}

.filter {
  cursor: pointer;
  min-width: 2rem;
  min-height: 2rem;
  opacity: 0.8;
  box-shadow: 0 0 4px rgba(0,0,0,0.8);
}

.pink {
  background: #ff7979;
}

.blue {
  background: #686de0;
}

.green {
  background: #6ab04c;
}

.grey {
  background: #535c68;
}

.ticket-actions {
  min-width: 10rem;
  min-height: 50%;
  cursor: pointer;
  display: flex;
  transition: all .2s ease-in-out;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: var(--shadow-15);
}

.ticket-filters:hover, .ticket-actions:hover {
  transform: scale(1.1);
}

.open-modal {
  background: var(--light-gray);
  min-width: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.fas {
  color: white;
}

.close-modal {
  background: var(--light-gray);
  min-width: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.open-modal:hover,.close-modal:hover, .filter:hover, .searchButton:hover {
  opacity: 1;
}

.ticket-container {
  background-color: #dfe6e9;
  min-height: 87vh;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  grid-gap: 20px;
}

/* modal  */
.modal {
  position: absolute;
  display: flex;
  height: 20rem;
  width: 30rem;
  top: 15rem;
  left: calc((100vw - 30rem)/2);
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  transition: transform 0.3s;
}

.modal:hover {
  transform: scale(1.2);
}

.modal-textbox {
  background: white;
  width: 75%;
  outline: none;
  font-size: 2rem;
  padding: 2rem;
  overflow: auto;
}

.modal-filter-options {
  background: var(--dark-gray);
  width: 25%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.modal-filter {
  width: 60%;
  height: 15%;
  opacity: 0.5;
  transition: transform 0.3s;
}

.modal-filter:hover {
  opacity: 1;
  transform: scale(1.2);
}

/* tickets */
.ticket {
  background: white;
  height: 30vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 20px 20px #777;
}

.ticket-filter {
  height: 10%;
  cursor: pointer;
}

.ticket-info {
  display: flex;
  justify-content: space-between;
}

.ticket-id {
  font-weight: bold;
  padding: 0.5rem;
}

.ticket-delete {
  width: 15%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  opacity: 0.8;
  transition: transform 0.3s;
  cursor: pointer;
}

.ticket-delete:hover {
  opacity: 1;
  transform: scale(1.5);
}

.fa-trash-alt {
  color: crimson;
  margin: 5px;
}

.ticket-content {
  word-break: break-all;
  text-align: center;
  margin-top: 10%;
  width: 80%;
  align-self: center;
  font-size: 1.2rem;
}

.active-filter {
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 10px rgba(81, 203, 238, 1);
  opacity: 1;
}
